.guardian a {
    color: #4db8ff;
}

.ranger a {
    color: #88cc00;
}

.thief a {
    color: #ff8080;
}

.elementalist a {
    color: #ff5c33;
}

.necromancer a {
    color: #00cc66;
}

.revenant a {
    color: #e6004c;
}

.warrior a {
    color: #ffcc00;
}

.engineer a {
    color: #ff9933;
}

.mesmer a {
    color: #ff66ff;
}

.item a {
    color:#e67300;
}
